.box{
  height: 220px;
  background-color: rgb(21, 197, 153);
}
.dayLight{
  background-color: rgb(130, 165, 95);
  height: 220px;
}

.buttonSize{
  height: 35px;
  width: 120px;
  margin-left: 20px;
}